body {
  background-color: #f5f5eb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 75%;
  margin: 5% auto;
}

.h1 {
  font-size: 4em;
  font-weight: 700;
}

.section {
  padding: 1em;
  border-top: 1px solid #000000;
  font-weight: 700;
}
