body {
  background-color: #f5f5eb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 75%;
  margin: 5% auto;
}

.h1 {
  font-size: 4em;
  font-weight: 700;
}

.section {
  padding: 1em 0;
  border-top: 1px solid #000000;
  font-weight: 700;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h2 {
  font-size: 2.3em;
  color: #0059d9;
}

.container:hover {
  cursor: pointer;
}

.h2-hover {
  color: #000000;
}

.icon-hover {
  width: 3em;
  height: 3em;
  background-image: url("../images/plus-icon.svg");
  background-size: cover;
}

.icon-active {
  width: 3em;
  height: 3em;
  background-image: url("../images/xmark-solid.svg");
  background-size: cover;
}
