body {
  background-color: #f5f5eb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 75%;
  margin: 5% auto;
}

.h1 {
  font-size: 4em;
  font-weight: 700;
}

.section {
  border-top: 1px solid #000000;
  font-weight: 700;
}

.input {
  display: none;
}

.label {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  color: #0059d9;
}

.icon {
  width: 1em;
  height: 1em;
  opacity: 0;
  transition: 0.3s;
}

.meme {
  width: 0%;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: 1s;
}

.container:hover {
  cursor: pointer;
}

.container:hover .label {
  color: #000000;
}

.container:hover .icon {
  opacity: 1;
}

.section:hover .icon {
  transition: 1s;
  transform: rotate(-45deg);
}

.icon::before {
  transition: 1s;
}

.section:hover .meme {
  width: 50%;
  margin: 5% auto;
  opacity: 1;
}

.input:checked + .icon {
  transform: rotate(-45deg);
  opacity: 1;
}

.input:checked ~ .meme {
  width: 50%;
  margin: 5% auto;
  opacity: 1;
}
